<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>动态绑定css</title>
    <link rel="stylesheet" href="style1.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

</head>
<body>
    <div id="vue-app">
        <h1> v-for 指令 </h1>
        <!-- 数组下标获取 -->
        <!-- {{characters[1]}}
        {{characters[2]}} -->

        <!-- 数组遍历 -->
        <ul>
            <li v-for="item in characters">{{ item }}</li>
        </ul>

        <!-- <ul>
            <li v-for="user in users">{{ user.name}} - {{ user.age }}</li>
        </ul> -->
        <!-- <ul>
            <li v-for="(user,index) in users">{{index + 1}}.{{ user.name}} - {{ user.age }}</li>
        </ul> -->

        <!-- <div  v-for="(user,index) in users">
            <h3>{{index}} . {{user.name}}</h3>
            <p>Age - {{user.age}}</p>
        </div> -->
        <!-- <template  v-for="(user,index) in users">
            <h3>{{index}} . {{user.name}}</h3>
            <p>Age - {{user.age}}</p>
        </template> -->
        <template  v-for="(user,index) in users">
            <div v-for="(val,key) in user">
                <p>{{key}} - {{val}}</p>
            </div>
        </template>


    </div>

    <script src="app9.js"></script>
</body>
</html>